@import "variables";

.customer {
 background-color: $neutral-silver;
 padding: 32px 0;
 margin-bottom: 48px;

 &-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 &-frame {
  max-width: 748px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
 }

 &-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
 }

 &-text {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
 }

 &-title {
  font-size: 20px;
  font-weight: 600;
  line-height: calc(28 / 20);
  color: $primary;
  margin-bottom: 8px;
 }

 &-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
 }

 &-client {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
 }

 &-logo {
  display: flex;
  align-items: center;
  gap: 41px
 }
 &-icon {
  width: 48px;
  height: 48px;
 }

 &-meet {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
 }

 &-button {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(28 / 18);
  color: $primary;
 }
}