@import "variables";

.footer {
 padding: 64px 0;
 background-color: $neutral-black;

 &-container {
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  gap: 125px;
 }

 &-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  min-width: 350px;
 }

 &-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
 }

 &-text {
  color: $neutral-silver;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
 }

 &-social {
  display: flex;
  align-items: center;
  gap: 16px;
 }

 &-links {
  display: flex;
  align-items: flex-start;
  gap: 30px;
 }

 &-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 160px;
 }

 &-col:nth-child(3) {
  min-width: 255px;
 }

 &-heading {
  color: $neutral-white;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(28 / 20);
 }

 &-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
 }

 &-link {
  color: $neutral-silver;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
 }

 &-input {
  display: flex;
  align-items: center;

  input {
   width: 255px;
   height: 40px;
   flex-shrink: 0;
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.2);
   color: rgba(255, 255, 255, 1);
   border: none;
   outline: none;
   padding: 9px 30px 11px 12px;

   &::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20 / 14);
   }
  }
 }

 &-send {
  transform: translateX(-150%);
 }
}